<ng-progress></ng-progress>
<app-navbar></app-navbar>
<section id="hero" class="d-flex align-items-center" style="font-family: 'Patrick Hand', cursive;">
  <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200"
    style="font-family: 'Patrick Hand', cursive;">
    <h1 style="font-family: 'Patrick Hand', cursive;">Kinetik Network</h1>
    <h3 style="color:aqua">A New Dedicated Internet service provider in town</h3>
    <h2>Kinetik networks® is a reliable network provider that is dedicated to making internet service cheap in Nairobi and beyond .</h2>
    <a href="#about" class="btn-get-started scrollto">Get Started</a>
  </div>
</section>
<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <h2 style="font-size: 24px;"> Kinetik Network® .</h2>
          <h4 style="font-size: 18px;">Is one of the Country leading Internrt service provider with the best speed at a low price.</h4>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="2000">
          <h5 style=" font-size: 16px;">
           Kinetik Internet® creates value for Business and Homes through scalable solutions for connections that help
            facilities improvement of Customer care and maximize reimbursement. <br> 
            From our Internet billing and coding of ethics to
            our proprietary transcription and practice management software.<br>
            Kinetik Internet®, is a valuable resource to our customer due to reliability
           
          </h5>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->
  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
          <div class="content">
            <h3>Kinetik   Internet</h3>
            <p>
              The Kinetik Internet encourages all user to use our services , The greater the number of users the wider the coverage of our services
            </p>
            <div class="text-center">
              <a href="" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>Customer Referrals</h4>
                  <p>This is where a current customer can be able to refer another potential customer near him/her
                  </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Announcements</h4>  
                  <p>This are regular feedbacks customers give to administrators or viseversa </p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4>Easy to use</h4>
                  <p>Digital tool to help you use and give a referral easily.</p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->
  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container">

      <div class="text-center" data-aos="zoom-in" style="font-family: 'Patrick Hand', cursive;">
        <h3 style="font-family: 'Patrick Hand', cursive;">Incase of Outages</h3>
        <p>Incase of any information on a person in contact dial in on to our 24/7 FREE HOTLINE</p>
        <a class="cta-btn" href="#footer">Dial in</a>
      </div>

    </div>
  </section>
  <!-- End Cta Section -->
</main>

<app-footer id="footer"></app-footer>
