
<div class="top">
  
    <div class="layer">
        <br><br><br><br>
        <div class= container-fluid>
            <div class="row">
                <div class="col-md-6">
                    <h1 class="name"> <b><i>OUR COVERANGE</i></b></h1>
                    <br><br>
                    <h1 class="desc"><b>Serving Common Kenyan Homes </b> </h1>
                    <br><br><br>
                    <h2>With a core principle of making your connection reliable and cost efficient, Kinetik Internet is always pushing to of connecting every home in Kenya , Please get in touch for Kinetik Internet </h2>
                    
                </div>
                <div class="col-md-6">
                     <h1></h1>
                </div>
            </div>
        </div>
    </div>
</div>