<body>
  <div class="container" style="margin-top:5%">
    <h1 class="text-center" style="font-weight: 700;"> Customer Check-in</h1>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="container" style="margin-top:5%">
          <form (ngSubmit)='submitInput()' name="form" #goalForm='ngForm'>
           
            <div class="half-input-container form-row mb-4">
              <div class="col">
                <label form=name>User ID</label>
                <input type=number readonly class="form-control" id="user" [(ngModel)]="user_id" #name='ngModel'
                  name="user" required>
              </div>
              <div class="col">
                <label for="name">Name</label>
                <input type="text" readonly class="form-control" id="name" [(ngModel)]="username" #name='ngModel'
                  name="name" required>
              </div>
            </div>
            <div class="form-group">
              <div class="form-group">
                <label for="phonenumber">Phonenumber</label>
                <input type="text" class="form-control" id="phonenumber" [(ngModel)]="newInput.phonenumber" name="phonenumber"
                  #name='ngModel' required></div>
            </div>
            <div class="form-group">
              <div class="form-group">
                <label for="location">More Info about location</label>
                <input type="text" class="form-control" id="location" [(ngModel)]="newInput.location" name="location"
                  #name='ngModel' required></div>
            </div>
            <div class="form-group">
              <button type="submit" id="myAnchor" class="btn btn-success"
                onclick="store()">Submit</button></div>
          </form>
           <button (click)="back()" class="btn btn-success">Return to Dashboard</button>
        </div>
      </div>
    </div>
  </div>
</body>
